<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>For Sarah</title>
</head>

<body>


  <section id="testimonials">
    <p id="dolph">I know that we dont really have too many deep conversations with each other and havent really gotten to know the fine print of each others’ lives too much, but I feel like we know each other pretty well, at least who we are as
      individuals, and I feel like our energies synergize well with each other. Like thats one thing that I love about our friendship, we click so easily, we’re always having fun and goofing off. We’re like peas in a pod, and I barely know anyone at
      all who I’m like that with. Whenever we’re hanging out with each other we literally always end up crying laughing about something. I feel like we’re on the same wavelength with how goofy we are . I just wanna let you know that you are someone
      that I can always look to if I want to feel better, because I know that we’d make anything a fun and hilarious experience. -Dolph</p>
  </section>

  <script src="https://code.jquery.com/jquery-3.6.3.slim.js" integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" crossorigin="anonymous"></script>
  <script src="game.js" charset="utf-8"></script>

</body>

</html>
